.container {
    position: relative;
}

.inner {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.logoWrapper {
    position: absolute;
    left: -60px;
    top: 47px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
